body {
    height: 100%;
    width: 100%;
}

.chat-container {
    margin: 40px auto;
    max-width: 75%;
}

.table-container {
    max-height: 300px;
    /* height: 300px; */
    border: 2px solid #bbb;
    width: 100%;
    margin-bottom: 85px;
}

th {
    background-color: #f8f8f8 !important;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    text-transform: capitalize;
}

tr {
    border-bottom: 1px solid #ddd;
    height: 36px !important;
}

thead tr {
    height: 40px !important;;
}

thead, tbody {
    display: inline-block;
}

table {
    max-width: 100%;
    overflow-x: auto;
    display: inline-block;
}

tbody {
    max-height: 257px;
    /* height: 257px; */
    overflow-y: auto;
}

.pagination-footer {
    border: 2px solid #bbb;
    border-top: none;
    min-height: 36px !important;
    font-size: 15px;;
}

.code-snips {
    padding: 0.2em 0.4em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 0px;
    border-radius: 0.25rem;
    background: rgb(248, 249, 251);
    color: rgb(21, 130, 55);
    font-family: "Source Code Pro", monospace;
    font-size: 0.75em;
}

.code-snips-red {
    padding: 0.1em 0.4em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 0px;
    border-radius: 0.25rem;
    background: #eee;
    color: red;
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
}